body{background-color: rgb(214, 228, 228);width: 100vw;overflow-x: hidden;}
h1{font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 1.2em;}
p{font-family: Arial, Helvetica, sans-serif;}

.parent{display:grid;grid-template-columns: 100px 100px 100px;column-gap: 10px;row-gap: 10px;}
.child{border: solid black 2px;text-align: center;padding: 5px;font-weight: 600;border-radius: 8px;
box-shadow: 4px 4px 10px black;

}
td{border: solid black 1px;text-align: center;}
input{background-color: gray;}
.img1{width: 200px;height: 250px;position: absolute;top:0px;right: 30px;border-radius: 5px;}
.IMG2{width: 350px;}
@media screen and (width<600px) {

  .IMG2{width: 100px;}
  
}