body{background-color: rgb(152, 172, 172);width: 100vw;overflow-x: hidden;}
h1{font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 1.2em;}
p{font-family: Arial, Helvetica, sans-serif;}

.parent{display:grid;grid-template-columns: 100px 100px 100px;column-gap: 10px;row-gap: 10px;}
.child{border: solid black 2px;text-align: center;padding: 5px;font-weight: 600;border-radius: 8px;
box-shadow: 4px 4px 10px black;

}